.header {
    grid-area: header;
    background-color: #f4f0e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}

.header__link {
    display: flex;
    cursor: pointer;
}

.header__link:hover {
    text-decoration: none;
}

.header__logo {
    max-width: 50px;
    padding: 5px;
    margin-right: 15px;
}

.header__title {
    color: #3F888F;
}

.header__top {
    display: flex;
}

.header__top h2 {
    margin-right: 10px;
}

.header__top img {
    max-width: 50px;
    border-radius: 50%;
}